version: '3.8'

services:
  app:
    build: ./app
    container_name: museumwiki_app
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./app:/app
    environment:
      DATA_PATH: /app/data/artworks_latest.csv
